# Environment
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build
dist/
build/

# Database
*.sqlite
*.db

# Logs
logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# AWS
.aws/
